<%= form_for @toy do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <p>
    <%= f.label :cat %>
    <%= f.collection_select :cat_id, Cat.all, :id, :name, {include_blank: false}, {class: "form-control"} %>
  </p>


  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
